<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.oa.dao.CustomerinfoDao">

	<select id="get" resultType="com.bootdo.oa.domain.CustomerinfoDO">
		select `customer_code`,`customer_name`,`customer_sex`,`customer_tel`,`customer_birth`,`customer_university`,`customer_specialities`,`resume_source`,`resume_update`,`technical_expertise`,`resume_path`,`add_time`,`opert_code`,`education`,`english_level`,`japanese_level`,`email`,`cv_id`,`resume_direction`,`confirm_year`,`chsi_flag` from customerinfo where customer_code = #{value}
	</select>

	<select id="list" resultType="com.bootdo.oa.domain.CustomerinfoDO">
		select `customer_code`,`customer_name`,`customer_sex`,`customer_tel`,`customer_birth`,`customer_university`,`customer_specialities`,`resume_source`,`resume_update`,`technical_expertise`,`resume_path`,`add_time`,`opert_code`,`education`,`english_level`,`japanese_level`,`email`,`cv_id`,`resume_direction`,`confirm_year`,`chsi_flag` from customerinfo
        <where>  
		  		  <if test="customerCode != null and customerCode != ''"> and customer_code = #{customerCode} </if>
		  		  <if test="customerName != null and customerName != ''"> and customer_name = #{customerName} </if>
		  		  <if test="customerSex != null and customerSex != ''"> and customer_sex = #{customerSex} </if>
		  		  <if test="customerTel != null and customerTel != ''"> and customer_tel = #{customerTel} </if>
		  		  <if test="customerBirth != null and customerBirth != ''"> and customer_birth = #{customerBirth} </if>
		  		  <if test="customerUniversity != null and customerUniversity != ''"> and customer_university = #{customerUniversity} </if>
		  		  <if test="customerSpecialities != null and customerSpecialities != ''"> and customer_specialities = #{customerSpecialities} </if>
		  		  <if test="resumeSource != null and resumeSource != ''"> and resume_source = #{resumeSource} </if>
		  		  <if test="resumeUpdate != null and resumeUpdate != ''"> and resume_update = #{resumeUpdate} </if>
		  		  <if test="technicalExpertise != null and technicalExpertise != ''"> and technical_expertise = #{technicalExpertise} </if>
		  		  <if test="resumePath != null and resumePath != ''"> and resume_path = #{resumePath} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="opertCode != null and opertCode != ''"> and opert_code = #{opertCode} </if>
		  		  <if test="education != null and education != ''"> and education = #{education} </if>
		  		  <if test="englishLevel != null and englishLevel != ''"> and english_level = #{englishLevel} </if>
		  		  <if test="japaneseLevel != null and japaneseLevel != ''"> and japanese_level = #{japaneseLevel} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="cvId != null and cvId != ''"> and cv_id = #{cvId} </if>
		  		  <if test="resumeDirection != null and resumeDirection != ''"> and resume_direction = #{resumeDirection} </if>
		  		  <if test="confirmYear != null and confirmYear != ''"> and confirm_year = #{confirmYear} </if>
		  		  <if test="chsiFlag != null and chsiFlag != ''"> and chsi_flag = #{chsiFlag} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by customer_code desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from customerinfo
		 <where>  
		  		  <if test="customerCode != null and customerCode != ''"> and customer_code = #{customerCode} </if>
		  		  <if test="customerName != null and customerName != ''"> and customer_name = #{customerName} </if>
		  		  <if test="customerSex != null and customerSex != ''"> and customer_sex = #{customerSex} </if>
		  		  <if test="customerTel != null and customerTel != ''"> and customer_tel = #{customerTel} </if>
		  		  <if test="customerBirth != null and customerBirth != ''"> and customer_birth = #{customerBirth} </if>
		  		  <if test="customerUniversity != null and customerUniversity != ''"> and customer_university = #{customerUniversity} </if>
		  		  <if test="customerSpecialities != null and customerSpecialities != ''"> and customer_specialities = #{customerSpecialities} </if>
		  		  <if test="resumeSource != null and resumeSource != ''"> and resume_source = #{resumeSource} </if>
		  		  <if test="resumeUpdate != null and resumeUpdate != ''"> and resume_update = #{resumeUpdate} </if>
		  		  <if test="technicalExpertise != null and technicalExpertise != ''"> and technical_expertise = #{technicalExpertise} </if>
		  		  <if test="resumePath != null and resumePath != ''"> and resume_path = #{resumePath} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="opertCode != null and opertCode != ''"> and opert_code = #{opertCode} </if>
		  		  <if test="education != null and education != ''"> and education = #{education} </if>
		  		  <if test="englishLevel != null and englishLevel != ''"> and english_level = #{englishLevel} </if>
		  		  <if test="japaneseLevel != null and japaneseLevel != ''"> and japanese_level = #{japaneseLevel} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="cvId != null and cvId != ''"> and cv_id = #{cvId} </if>
		  		  <if test="resumeDirection != null and resumeDirection != ''"> and resume_direction = #{resumeDirection} </if>
		  		  <if test="confirmYear != null and confirmYear != ''"> and confirm_year = #{confirmYear} </if>
		  		  <if test="chsiFlag != null and chsiFlag != ''"> and chsi_flag = #{chsiFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.oa.domain.CustomerinfoDO">
		insert into customerinfo
		(
			`customer_code`, 
			`customer_name`, 
			`customer_sex`, 
			`customer_tel`, 
			`customer_birth`, 
			`customer_university`, 
			`customer_specialities`, 
			`resume_source`, 
			`resume_update`, 
			`technical_expertise`, 
			`resume_path`, 
			`add_time`, 
			`opert_code`, 
			`education`, 
			`english_level`, 
			`japanese_level`, 
			`email`, 
			`cv_id`, 
			`resume_direction`, 
			`confirm_year`, 
			`chsi_flag`
		)
		values
		(
			#{customerCode}, 
			#{customerName}, 
			#{customerSex}, 
			#{customerTel}, 
			#{customerBirth}, 
			#{customerUniversity}, 
			#{customerSpecialities}, 
			#{resumeSource}, 
			#{resumeUpdate}, 
			#{technicalExpertise}, 
			#{resumePath}, 
			#{addTime}, 
			#{opertCode}, 
			#{education}, 
			#{englishLevel}, 
			#{japaneseLevel}, 
			#{email}, 
			#{cvId}, 
			#{resumeDirection}, 
			#{confirmYear}, 
			#{chsiFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.oa.domain.CustomerinfoDO">
		update customerinfo 
		<set>
			<if test="customerName != null">`customer_name` = #{customerName}, </if>
			<if test="customerSex != null">`customer_sex` = #{customerSex}, </if>
			<if test="customerTel != null">`customer_tel` = #{customerTel}, </if>
			<if test="customerBirth != null">`customer_birth` = #{customerBirth}, </if>
			<if test="customerUniversity != null">`customer_university` = #{customerUniversity}, </if>
			<if test="customerSpecialities != null">`customer_specialities` = #{customerSpecialities}, </if>
			<if test="resumeSource != null">`resume_source` = #{resumeSource}, </if>
			<if test="resumeUpdate != null">`resume_update` = #{resumeUpdate}, </if>
			<if test="technicalExpertise != null">`technical_expertise` = #{technicalExpertise}, </if>
			<if test="resumePath != null">`resume_path` = #{resumePath}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="opertCode != null">`opert_code` = #{opertCode}, </if>
			<if test="education != null">`education` = #{education}, </if>
			<if test="englishLevel != null">`english_level` = #{englishLevel}, </if>
			<if test="japaneseLevel != null">`japanese_level` = #{japaneseLevel}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="cvId != null">`cv_id` = #{cvId}, </if>
			<if test="resumeDirection != null">`resume_direction` = #{resumeDirection}, </if>
			<if test="confirmYear != null">`confirm_year` = #{confirmYear}, </if>
			<if test="chsiFlag != null">`chsi_flag` = #{chsiFlag}</if>
		</set>
		where customer_code = #{customerCode}
	</update>
	
	<delete id="remove">
		delete from customerinfo where customer_code = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from customerinfo where customer_code in 
		<foreach item="customerCode" collection="array" open="(" separator="," close=")">
			#{customerCode}
		</foreach>
	</delete>
    <select id="getExportExcel" resultType="java.util.HashMap" parameterType="java.lang.String" >
         select  customer_name,customer_tel,customer_university from customerinfo where customer_code in
		<foreach item="customerCode" collection="array" open="(" separator="," close=")">
			#{customerCode}
		</foreach>

	</select>


</mapper>