<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.oa.dao.StudentDao">

	<select id="get" resultType="com.bootdo.oa.domain.StudentDO">
		select `sid`,`sname`,`sex`,`hobby`,`birthday`,`number`,`address` from student where sid = #{value}
	</select>

	<select id="list" resultType="com.bootdo.oa.domain.StudentDO">
		select `sid`,`sname`,`sex`,`hobby`,`birthday`,`number`,`address` from student
        <where>  
		  		  <if test="sid != null and sid != ''"> and sid = #{sid} </if>
		  		  <if test="sname != null and sname != ''"> and sname = #{sname} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="hobby != null and hobby != ''"> and hobby = #{hobby} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="number != null and number != ''"> and number = #{number} </if>
		  		  <if test="address != null and address != ''"> and address = #{address} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by sid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from student
		 <where>  
		  		  <if test="sid != null and sid != ''"> and sid = #{sid} </if>
		  		  <if test="sname != null and sname != ''"> and sname = #{sname} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="hobby != null and hobby != ''"> and hobby = #{hobby} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="number != null and number != ''"> and number = #{number} </if>
		  		  <if test="address != null and address != ''"> and address = #{address} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.oa.domain.StudentDO" useGeneratedKeys="true" keyProperty="sid">
		insert into student
		(
			`sname`, 
			`sex`, 
			`hobby`, 
			`birthday`, 
			`number`, 
			`address`
		)
		values
		(
			#{sname}, 
			#{sex}, 
			#{hobby}, 
			#{birthday}, 
			#{number}, 
			#{address}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.oa.domain.StudentDO">
		update student 
		<set>
			<if test="sname != null">`sname` = #{sname}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="hobby != null">`hobby` = #{hobby}, </if>
			<if test="birthday != null">`birthday` = #{birthday}, </if>
			<if test="number != null">`number` = #{number}, </if>
			<if test="address != null">`address` = #{address}</if>
		</set>
		where sid = #{sid}
	</update>
	
	<delete id="remove">
		delete from student where sid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from student where sid in 
		<foreach item="sid" collection="array" open="(" separator="," close=")">
			#{sid}
		</foreach>
	</delete>

</mapper>