<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.per.dao.CustomerinfoDao">

	<select id="get" resultType="com.bootdo.per.domain.CustomerinfoDO">
		select `customer_code`,`customer_name`,`customer_sex`,`customer_tel`,`customer_birth`,`customer_university`,`customer_specialities`,`entry_time`,`work_year`,`resume_source`,`resume_id`,`resume_path`,`relationship_zq`,`add_time`,`update_time`,`opert_code`,`opert_name`,`expectation_salary`,`profession_id`,`intention_area`,`education`,`entry_times`,`join_status`,`sign_people`,`chsi_flag`,`resume_direction` from per_customerinfo where customer_code = #{value}
	</select>

	<select id="list" resultType="com.bootdo.per.domain.CustomerinfoDO">
		select `customer_code`,`customer_name`,`customer_sex`,`customer_tel`,`customer_birth`,`customer_university`,`customer_specialities`,`entry_time`,`work_year`,`resume_source`,`resume_id`,`resume_path`,`relationship_zq`,`add_time`,`update_time`,`opert_code`,`opert_name`,`expectation_salary`,`profession_id`,`intention_area`,`education`,`entry_times`,`join_status`,`sign_people`,`chsi_flag`,`resume_direction` from per_customerinfo
        <where>  
		  		  <if test="customerCode != null and customerCode != ''"> and customer_code = #{customerCode} </if>
		  		  <if test="customerName != null and customerName != ''"> and customer_name = #{customerName} </if>
		  		  <if test="customerSex != null and customerSex != ''"> and customer_sex = #{customerSex} </if>
		  		  <if test="customerTel != null and customerTel != ''"> and customer_tel = #{customerTel} </if>
		  		  <if test="customerBirth != null and customerBirth != ''"> and customer_birth = #{customerBirth} </if>
		  		  <if test="customerUniversity != null and customerUniversity != ''"> and customer_university = #{customerUniversity} </if>
		  		  <if test="customerSpecialities != null and customerSpecialities != ''"> and customer_specialities = #{customerSpecialities} </if>
		  		  <if test="entryTime != null and entryTime != ''"> and entry_time = #{entryTime} </if>
		  		  <if test="workYear != null and workYear != ''"> and work_year = #{workYear} </if>
		  		  <if test="resumeSource != null and resumeSource != ''"> and resume_source = #{resumeSource} </if>
		  		  <if test="resumeId != null and resumeId != ''"> and resume_id = #{resumeId} </if>
		  		  <if test="resumePath != null and resumePath != ''"> and resume_path = #{resumePath} </if>
		  		  <if test="relationshipZq != null and relationshipZq != ''"> and relationship_zq = #{relationshipZq} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="opertCode != null and opertCode != ''"> and opert_code = #{opertCode} </if>
		  		  <if test="opertName != null and opertName != ''"> and opert_name = #{opertName} </if>
		  		  <if test="expectationSalary != null and expectationSalary != ''"> and expectation_salary = #{expectationSalary} </if>
		  		  <if test="professionId != null and professionId != ''"> and profession_id = #{professionId} </if>
		  		  <if test="intentionArea != null and intentionArea != ''"> and intention_area = #{intentionArea} </if>
		  		  <if test="education != null and education != ''"> and education = #{education} </if>
		  		  <if test="entryTimes != null and entryTimes != ''"> and entry_times = #{entryTimes} </if>
		  		  <if test="joinStatus != null and joinStatus != ''"> and join_status = #{joinStatus} </if>
		  		  <if test="signPeople != null and signPeople != ''"> and sign_people = #{signPeople} </if>
		  		  <if test="chsiFlag != null and chsiFlag != ''"> and chsi_flag = #{chsiFlag} </if>
		  		  <if test="resumeDirection != null and resumeDirection != ''"> and resume_direction = #{resumeDirection} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by customer_code desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from per_customerinfo
		 <where>  
		  		  <if test="customerCode != null and customerCode != ''"> and customer_code = #{customerCode} </if>
		  		  <if test="customerName != null and customerName != ''"> and customer_name = #{customerName} </if>
		  		  <if test="customerSex != null and customerSex != ''"> and customer_sex = #{customerSex} </if>
		  		  <if test="customerTel != null and customerTel != ''"> and customer_tel = #{customerTel} </if>
		  		  <if test="customerBirth != null and customerBirth != ''"> and customer_birth = #{customerBirth} </if>
		  		  <if test="customerUniversity != null and customerUniversity != ''"> and customer_university = #{customerUniversity} </if>
		  		  <if test="customerSpecialities != null and customerSpecialities != ''"> and customer_specialities = #{customerSpecialities} </if>
		  		  <if test="entryTime != null and entryTime != ''"> and entry_time = #{entryTime} </if>
		  		  <if test="workYear != null and workYear != ''"> and work_year = #{workYear} </if>
		  		  <if test="resumeSource != null and resumeSource != ''"> and resume_source = #{resumeSource} </if>
		  		  <if test="resumeId != null and resumeId != ''"> and resume_id = #{resumeId} </if>
		  		  <if test="resumePath != null and resumePath != ''"> and resume_path = #{resumePath} </if>
		  		  <if test="relationshipZq != null and relationshipZq != ''"> and relationship_zq = #{relationshipZq} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="opertCode != null and opertCode != ''"> and opert_code = #{opertCode} </if>
		  		  <if test="opertName != null and opertName != ''"> and opert_name = #{opertName} </if>
		  		  <if test="expectationSalary != null and expectationSalary != ''"> and expectation_salary = #{expectationSalary} </if>
		  		  <if test="professionId != null and professionId != ''"> and profession_id = #{professionId} </if>
		  		  <if test="intentionArea != null and intentionArea != ''"> and intention_area = #{intentionArea} </if>
		  		  <if test="education != null and education != ''"> and education = #{education} </if>
		  		  <if test="entryTimes != null and entryTimes != ''"> and entry_times = #{entryTimes} </if>
		  		  <if test="joinStatus != null and joinStatus != ''"> and join_status = #{joinStatus} </if>
		  		  <if test="signPeople != null and signPeople != ''"> and sign_people = #{signPeople} </if>
		  		  <if test="chsiFlag != null and chsiFlag != ''"> and chsi_flag = #{chsiFlag} </if>
		  		  <if test="resumeDirection != null and resumeDirection != ''"> and resume_direction = #{resumeDirection} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.per.domain.CustomerinfoDO">
		insert into per_customerinfo
		(
			`customer_code`, 
			`customer_name`, 
			`customer_sex`, 
			`customer_tel`, 
			`customer_birth`, 
			`customer_university`, 
			`customer_specialities`, 
			`entry_time`, 
			`work_year`, 
			`resume_source`, 
			`resume_id`, 
			`resume_path`, 
			`relationship_zq`, 
			`add_time`, 
			`update_time`, 
			`opert_code`, 
			`opert_name`, 
			`expectation_salary`, 
			`profession_id`, 
			`intention_area`, 
			`education`, 
			`entry_times`, 
			`join_status`, 
			`sign_people`, 
			`chsi_flag`, 
			`resume_direction`
		)
		values
		(
			#{customerCode}, 
			#{customerName}, 
			#{customerSex}, 
			#{customerTel}, 
			#{customerBirth}, 
			#{customerUniversity}, 
			#{customerSpecialities}, 
			#{entryTime}, 
			#{workYear}, 
			#{resumeSource}, 
			#{resumeId}, 
			#{resumePath}, 
			#{relationshipZq}, 
			#{addTime}, 
			#{updateTime}, 
			#{opertCode}, 
			#{opertName}, 
			#{expectationSalary}, 
			#{professionId}, 
			#{intentionArea}, 
			#{education}, 
			#{entryTimes}, 
			#{joinStatus}, 
			#{signPeople}, 
			#{chsiFlag}, 
			#{resumeDirection}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.per.domain.CustomerinfoDO">
		update per_customerinfo 
		<set>
			<if test="customerName != null">`customer_name` = #{customerName}, </if>
			<if test="customerSex != null">`customer_sex` = #{customerSex}, </if>
			<if test="customerTel != null">`customer_tel` = #{customerTel}, </if>
			<if test="customerBirth != null">`customer_birth` = #{customerBirth}, </if>
			<if test="customerUniversity != null">`customer_university` = #{customerUniversity}, </if>
			<if test="customerSpecialities != null">`customer_specialities` = #{customerSpecialities}, </if>
			<if test="entryTime != null">`entry_time` = #{entryTime}, </if>
			<if test="workYear != null">`work_year` = #{workYear}, </if>
			<if test="resumeSource != null">`resume_source` = #{resumeSource}, </if>
			<if test="resumeId != null">`resume_id` = #{resumeId}, </if>
			<if test="resumePath != null">`resume_path` = #{resumePath}, </if>
			<if test="relationshipZq != null">`relationship_zq` = #{relationshipZq}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="opertCode != null">`opert_code` = #{opertCode}, </if>
			<if test="opertName != null">`opert_name` = #{opertName}, </if>
			<if test="expectationSalary != null">`expectation_salary` = #{expectationSalary}, </if>
			<if test="professionId != null">`profession_id` = #{professionId}, </if>
			<if test="intentionArea != null">`intention_area` = #{intentionArea}, </if>
			<if test="education != null">`education` = #{education}, </if>
			<if test="entryTimes != null">`entry_times` = #{entryTimes}, </if>
			<if test="joinStatus != null">`join_status` = #{joinStatus}, </if>
			<if test="signPeople != null">`sign_people` = #{signPeople}, </if>
			<if test="chsiFlag != null">`chsi_flag` = #{chsiFlag}, </if>
			<if test="resumeDirection != null">`resume_direction` = #{resumeDirection}</if>
		</set>
		where customer_code = #{customerCode}
	</update>
	
	<delete id="remove">
		delete from per_customerinfo where customer_code = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from per_customerinfo where customer_code in 
		<foreach item="customerCode" collection="array" open="(" separator="," close=")">
			#{customerCode}
		</foreach>
	</delete>

</mapper>